
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    var lostBooks = ViewBag.LostBooks as List<BLL.LostBookBLL>;

}

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Responsive example<small>Users</small></h2>
            <a href="/LostBook/Create/ " class="btn btn-primary">Report Lost Book(s)</a>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Settings 1</a>
                        <a class="dropdown-item" href="#">Settings 2</a>
                    </div>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <p class="text-muted font-13 m-b-30">

                            @if (TempData["Success"] != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    @TempData["Success"]
                                </div>
                            }
                        </p>

                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>SNo.</th>
                                    <th>Title</th>

                                    <th>IsbN No</th>
                                    <th>Issued To</th>
                                    <th>Reported Date</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (lostBooks != null)
                                {
                                    int count = 1;

                                    foreach (var lostBook in lostBooks)
                                    {

                                        <tr>
                                            <td>@count</td>

                                            <td class="text-capitalize">@lostBook.Title</td>
                                            <td class="text-capitalize">@lostBook.ISBN_No</td>
                                            <td class="text-capitalize">@lostBook.Name</td>

                                            <td>@lostBook.DateReported.ToShortDateString() </td>
                                            <td>
                                                <a href="/RegisterBook/Edit/@lostBook.Id " class="">Edit</a>

                                            </td>
                                        </tr>

                                        count++;
                                    }
                                }

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .btn {
        margin-left: 50em;
    }
</style>


