
@model BLL.RegisterBookBLL
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}


<div class="">

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Register Books</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="" action="/RegisterBook/Create" method="post" novalidate>



                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Title <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" name="Title" data-validate-linked='email' required='required' />
                            </div>
                        </div>

                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Sub Title <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" name="SubTitle" data-validate-linked='email' required='required' />
                            </div>
                        </div>


                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Book No <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" name="BookNo" data-validate-linked='email' required='required' />
                            </div>
                        </div>

                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Publisher<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <select id="heard" class="form-control" name="PublisherId" required>
                                    @if (ViewBag.Publishers != null)
                                    {
                                        foreach (var publisher in ViewBag.Publishers)
                                        {
                                            <option value="@publisher.Id"> @publisher.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>





                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">ISBN No <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="number" name="ISBN_No" data-validate-linked='email' required='required' />
                            </div>
                        </div>


                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Edition <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" name="Edition" data-validate-linked='email' required='required' />
                            </div>
                        </div>

                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Copies <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" name="Copies" data-validate-linked='email' required='required' />
                            </div>
                        </div>

                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Language<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <select id="heard" class="form-control" name="LanguageId" required>

                                    @if (ViewBag.Languages != null)
                                    {
                                        foreach (var language in ViewBag.Languages)
                                        {
                                            <option value="@language.Id"> @language.LanguageName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Publication Year <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" name="PublishedYear" data-validate-linked='email' required='required' />
                            </div>
                        </div>

                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Category / Genre<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <select id="heard" class="form-control" name="CategoryId" required>
                                    @if (ViewBag.Categories != null)
                                    {
                                        foreach (var Category in ViewBag.Categories)
                                        {
                                            <option value="@Category.Id"> @Category.CategoryName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>



                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Delivery Date <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="date" name="DeliveryDate" data-validate-linked='email' required='required' />
                            </div>
                        </div>




                        <div class="">
                            <div class="form-group">
                                <div class="col-md-6 offset-md-3">
                                    <button type='submit' class="btn btn-primary">Submit</button>
                                    <button type='reset' class="btn btn-success">Reset</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Content/content/vendors/validator/validator.js"></script>


<script>
    // initialize a validator instance from the "FormValidator" constructor.
    // A "<form>" element is optionally passed as an argument, but is not a must
    var validator = new FormValidator({
        "events": ['blur', 'input', 'change']
    }, document.forms[0]);
    // on form "submit" event
    document.forms[0].onsubmit = function (e) {
        var submit = true,
            validatorResult = validator.checkAll(this);
        console.log(validatorResult);
        return !!validatorResult.valid;
    };
    // on form "reset" event
    document.forms[0].onreset = function (e) {
        validator.reset();
    };
    // stuff related ONLY for this demo page:
    $('.toggleValidationTooltips').change(function () {
        validator.settings.alerts = !this.checked;
        if (this.checked)
            $('form .alert').remove();
    }).prop('checked', false);

</script>