
@model BLL.RegisterBookBLL
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}


<div class="">

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Book Details</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                @*@if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["Error"]
                        </div>
                    }*@
                <div class="x_content">
                    <form method="post" action="/IssueBook/IssueBook">



                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Title <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input type="hidden" class="form-control" value="@Model.Id  " name="Id" required />
                                <input class="form-control" type="text" value="@Model.Title " name="Title" data-validate-linked='email' required='required' readonly />
                            </div>
                        </div>


                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Book No <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" value="@Model.BookNo" name="BookNo" data-validate-linked='email' required='required' readonly />
                            </div>
                        </div>




                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">ISBN No <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" value="@Model.ISBN_No" name="ISBN_No" data-validate-linked='email' required='required' readonly />
                            </div>
                        </div>


                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Edition <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" value="@Model.Edition" name="Edition" data-validate-linked='email' required='required' readonly />
                            </div>
                        </div>

                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Available  Copies <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="number" value="@Model.Copies" name="Copies" data-validate-linked='email' required='required' readonly />
                            </div>
                        </div>


                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Enter Copies <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="number" name="IssuedCopies" data-validate-linked='email' required='required' />
                            </div>
                        </div>



                        <div class="x_title">
                            <h2>Borrower Details</h2>
                            <div class="clearfix"></div>
                        </div>


                        @*<div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Select Borrower Type<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <select id="heard" class="form-control" name="borrowerType" required>
                                    <option value="">Choose..</option>
                                    <option value="0">Student</option>
                                    <option value="1">Staff</option>
                                    <option value="2">Member</option>

                                </select>
                            </div>
                        </div>*@


                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Enter Adm No / PF No <span class="required">*</span></label>
                            <div class="col-md-offset-3 col-sm-6">
                                <input class="form-control" type="text" id="MembershipNo" name="MembershipNo" data-validate-linked='email' required='required' />
                            </div>

                            <button type='button' id="btn-getdata" class="btn btn-success">Find Student</button>
                        </div>



                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Name <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" value="" name="Name" data-validate-linked='email' required='required' readonly />
                                <input class="form-control" type="hidden" value="" name="BorrowerId" data-validate-linked='email' required='required' readonly />
                            </div>
                        </div>



                        <div class="">
                            <div class="form-group">
                                <div class="col-md-6 offset-md-3">
                                    <button type='submit' class="btn btn-primary">Issue Book</button>

                                </div>
                            </div>
                        </div>












                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/content/vendors/validator/validator.js"></script>


<script>
    // initialize a validator instance from the "FormValidator" constructor.
    // A "<form>" element is optionally passed as an argument, but is not a must
    var validator = new FormValidator({
        "events": ['blur', 'input', 'change']
    }, document.forms[0]);
    // on form "submit" event
    document.forms[0].onsubmit = function (e) {
        var submit = true,
            validatorResult = validator.checkAll(this);
        console.log(validatorResult);
        return !!validatorResult.valid;
    };
    // on form "reset" event
    document.forms[0].onreset = function (e) {
        validator.reset();
    };
    // stuff related ONLY for this demo page:
    $('.toggleValidationTooltips').change(function () {
        validator.settings.alerts = !this.checked;
        if (this.checked)
            $('form .alert').remove();
    }).prop('checked', false);


    $("#btn-getdata").click(function () {
        $.get("/IssueBook/GetBorrower?MembershipNo=" + $("#MembershipNo").val(), function (data, status) {
            if (data == null) {
                alert("Does not exist");
            } else {
                $("input[name='Name']").val(data.Name);
                $("input[name='BorrowerId']").val(data.Id);
            }
        });
    });

    //$("#MembershipNo").on("keyup", function () {
    //    $.get("/IssueBook/GetBorrower?MembershipNo=" + $("#MembershipNo").val(), function (data, status) {
    //        if (data == null) {
    //            alert("Does not exist");
    //        } else {
    //            $("input[name='Name']").val(data.Name);
    //            $("input[name='BorrowerId']").val(data.Id);
    //        }
    //    });

    //});


</script>